pandas cheat sheet: https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

pandas data structures: http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro

10-minute pandas: http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro

clone repo: https://github.com/rudeboybert/JSE_OkCupid

In [2]:
import numpy as np
import pandas as pd

## Question 1: Print files in current working directory using command line tools.
With Jupyter notebooks, you have access to your kernel if you preface your command with an exclamation point. Using command line, print out all files in your current working directory.

In [3]:
! ls

2017-03-15_Pandas-starter-code-SR.ipynb
2017-03-15_Pandas-starter-code.ipynb
2017-03-15_Pandas.ipynb
homework-02-the-pandas-library-starter-code-SR.ipynb
homework-02-the-pandas-library-starter-code.ipynb

## Question 2: Print out the path to your current working directory.

In [34]:
! pwd

/Users/samantha.rosenthal/GA/DS-SF-33/lessons/02/notebooks

## Question 3: Print out files in the data folder. The data folder lives in the same directory as the lessons folder. Use "../" to list files in the data folder.

In [35]:
! ls ../data

dataset-02-ozone.csv okcupid_codebook.txt profiles.csv

## Question 4: Read documentation for panda's pd.read_csv() command using the command pd.read_csv?

In [3]:
pd.read_csv?

## Question 5: Read the csv file into a DataFrame, using panda's pd.read_csv() command.

In [4]:
df = pd.read_csv(filepath_or_buffer="../data/profiles.csv")

## Question 6: Print out the top 5 rows of the DataFrame, using df.head() command.

In [6]:
print(df.head(5))

   age       body_type               diet    drinks      drugs  \
0   22  a little extra  strictly anything  socially      never
1   35         average       mostly other     often  sometimes
2   38            thin           anything  socially        NaN
3   23            thin         vegetarian  socially        NaN
4   29        athletic                NaN  socially      never

                           education  \
0      working on college/university
1              working on space camp
2     graduated from masters program
3      working on college/university
4  graduated from college/university

                                              essay0  \
0  about me:<br />\n<br />\ni would love to think...
1  i am a chef: this is what that means.<br />\n1...
2  i'm not ashamed of much, but writing public te...
3          i work in a library and go to school. . .
4  hey how's it going? currently vague on the pro...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...
3          reading things written by old dead people
4                         work work work work + play

                                              essay2  \
0  making people laugh.<br />\nranting about a go...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...
3  playing synthesizers and organizing books acco...
4  creating imagery to look at:<br />\nhttp://bag...

                                              essay3    ...      \
0  the way i look. i am a six foot half asian, ha...    ...
1                                                NaN    ...
2  my large jaw and large glasses are the physica...    ...
3                  socially awkward but i do my best    ...
4            i smile a lot and my inquisitive nature    ...

                          location  \
0  south san francisco, california
1              oakland, california
2        san francisco, california
3             berkeley, california
4        san francisco, california

                                      offspring orientation  \
0  doesn&rsquo;t have kids, but might want them    straight
1  doesn&rsquo;t have kids, but might want them    straight
2                                           NaN    straight
3                       doesn&rsquo;t want kids    straight
4                                           NaN    straight

                        pets                                  religion sex  \
0  likes dogs and likes cats     agnosticism and very serious about it   m
1  likes dogs and likes cats  agnosticism but not too serious about it   m
2                   has cats                                       NaN   m
3                 likes cats                                       NaN   m
4  likes dogs and likes cats                                       NaN   m

                                 sign     smokes  \
0                              gemini  sometimes
1                              cancer         no
2  pisces but it doesn&rsquo;t matter         no
3                              pisces         no
4                            aquarius         no

                                              speaks     status
0                                            english     single
1  english (fluently), spanish (poorly), french (...     single
2                               english, french, c++  available
3                           english, german (poorly)     single
4                                            english     single

[5 rows x 31 columns]

## Question 7: How many rows are in the data frame?

In [7]:
len(df)

59946

## Question 8: What are the names of the rows?

In [11]:
print(df.index.values)
rows = df.index.values

[    0     1     2 ..., 59943 59944 59945]

## Question 9: What type of index is the row index?

In [12]:
type(rows)

numpy.ndarray

## Question 10: Print out the column/feature names.

In [13]:
df.columns.values

array(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education',
       'essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5',
       'essay6', 'essay7', 'essay8', 'essay9', 'ethnicity', 'height',
       'income', 'job', 'last_online', 'location', 'offspring',
       'orientation', 'pets', 'religion', 'sex', 'sign', 'smokes',
       'speaks', 'status'], dtype=object)

## Question 11: Print out the data types of the columns (using attribute dtypes).

In [14]:
df.dtypes

age              int64
body_type       object
diet            object
drinks          object
drugs           object
education       object
essay0          object
essay1          object
essay2          object
essay3          object
essay4          object
essay5          object
essay6          object
essay7          object
essay8          object
essay9          object
ethnicity       object
height         float64
income           int64
job             object
last_online     object
location        object
offspring       object
orientation     object
pets            object
religion        object
sex             object
sign            object
smokes          object
speaks          object
status          object
dtype: object

## Question 12: Print out the last 3 rows of df, using .tail() command. Read documentation to specify number of rows to view.

In [15]:
df.tail(3)

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
59943,42,average,mostly anything,not at all,never,graduated from masters program,"hello! i enjoy traveling, watching movies, and...","i'm a civil engineer, who enjoys helping the c...",- looking at things objectively<br />\n- getti...,i'm quiet until i get used to the environment ...,...,"south san francisco, california",doesn&rsquo;t have kids,straight,NaN,christianity but not too serious about it,m,sagittarius but it doesn&rsquo;t matter,no,english (fluently),single
59944,27,athletic,mostly anything,socially,often,working on college/university,"""all i have in this world are my balls and my ...","following my dreams...<br />\n""you got a dream...",listening,it used to be the hair until i mowed it off bu...,...,"san francisco, california","doesn&rsquo;t have kids, but wants them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,leo and it&rsquo;s fun to think about,trying to quit,"english (fluently), spanish (poorly), chinese ...",single
59945,39,average,NaN,socially,NaN,graduated from masters program,"is it odd that having a little ""enemy"" status ...",i work with elderly people (psychotherapy and ...,i'm a great bullshitter. i don't know what it ...,"either that i am funny/sarcastic, or that i am...",...,"san francisco, california",NaN,gay,likes dogs and likes cats,catholicism and laughing about it,m,gemini and it&rsquo;s fun to think about,sometimes,english,single

# Question 13: Using describe command, view a quick summary of the numeric data within the data frame.

In [16]:
df.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

## Question 15: Put the result of the describe command into a variable, df2. What type is df2?

In [17]:
df2 = df.describe()
df2.dtypes

age       float64
height    float64
income    float64
dtype: object

## Quesiton 16: What are the row names and column names of df2?

In [19]:
print(df2.index.values)
print(df2.columns.values)

['count' 'mean' 'std' 'min' '25%' '50%' '75%' 'max']
['age' 'height' 'income']

## Question 17: Generate a random number with a value between 0 and the number of rows in df. Set seed to 42 using `np.random.RandomState(42)`. Set the value of the random number equal to the variable pick. Check your neighbor's value.

In [20]:
np.random.RandomState(42)
pick = np.random.randint(0, len(df))
print(pick)

19220

## Question 18: What is its data type of the age column of df?

In [21]:
df.age.dtype

dtype('int64')

## Question 19: Using the iloc attribute, choose the row of df present at the value of `pick`.

In [23]:
df.iloc[pick]

age                                                           27
body_type                                               athletic
diet                                                         NaN
drinks                                                  socially
drugs                                                      never
education                         graduated from masters program
essay0         born in new delhi.<br />\nraised in london, ne...
essay1                   wealth management and equities trading.
essay2         most sports, air drumming (since my landlord w...
essay3                     my nerdy glasses and my mixed accent.
essay4         books:<br />\nthe art of happiness, always com...
essay5         working out/sports<br />\nhot sauce<br />\nmy ...
essay6         happiness<br />\nfinancial markets<br />\nanal...
essay7                          either at home or out and about.
essay8                i write haiku's in my abundant spare time.
essay9                                                       NaN
ethnicity                                          indian, other
height                                                        70
income                                                        -1
job                                  sales / marketing / biz dev
last_online                                     2011-09-22-23-07
location                               san francisco, california
offspring                                                    NaN
orientation                                             straight
pets                                                    has dogs
religion                                                     NaN
sex                                                            m
sign                                                       virgo
smokes                                                        no
speaks              english, hindi (fluently), sanskrit (poorly)
status                                                    single
Name: 19220, dtype: object

## Question 20: Select the first three rows of df:

In [24]:
df.head(3)

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available

## Question 21. using loc command, select the `drinks` column.

In [26]:
df.loc[:,'drinks']

0          socially
1             often
2          socially
3          socially
4          socially
5          socially
6          socially
7          socially
8          socially
9        not at all
10         socially
11         socially
12            often
13         socially
14         socially
15         socially
16         socially
17         socially
18           rarely
19         socially
20         socially
21         socially
22         socially
23       not at all
24         socially
25           rarely
26         socially
27         socially
28         socially
29         socially
            ...
59916      socially
59917      socially
59918      socially
59919           NaN
59920      socially
59921      socially
59922      socially
59923      socially
59924      socially
59925      socially
59926      socially
59927      socially
59928      socially
59929      socially
59930      socially
59931        rarely
59932      socially
59933      socially
59934      socially
59935      socially
59936      socially
59937      socially
59938           NaN
59939      socially
59940      socially
59941      socially
59942         often
59943    not at all
59944      socially
59945      socially
Name: drinks, dtype: object

## Question 22: Using iloc, select every other row starting from the first, and the 10th and 22nd column

In [27]:
df.iloc[::2, [10, 22]]

,essay4,offspring
0,"books:<br />\nabsurdistan, the republic, of mi...","doesn&rsquo;t have kids, but might want them"
2,okay this is where the cultural matrix gets so...,NaN
4,"music: bands, rappers, musicians<br />\nat the...",NaN
6,i like books. ones with pictures. reading them...,NaN
8,i am always willing to try new foods and am no...,doesn&rsquo;t have kids
10,"i'm constantly reading, i read at what my frie...",NaN
12,NaN,doesn&rsquo;t have kids
14,books:<br />\nmy all-time favorite book is geo...,"doesn&rsquo;t have kids, but wants them"
16,movies/tv/etc:<br />\nthe big lebowski (and ot...,NaN
18,"i like stories that are adventurous, fun, and ...",NaN
20,NaN,NaN
22,a confederacy of dunces and infinite jest are ...,"doesn&rsquo;t have kids, but might want them"
24,"mostly i read nonfiction; sociology, psych, in...",NaN
26,"books -<br />\ndan brown: deception point, dig...",NaN
28,books: 1491. omnivore's dilemma. the amazing a...,NaN
30,NaN,NaN
32,NaN,doesn&rsquo;t have kids
34,a far-from-exhaustive sampling of each:<br />\...,NaN
36,NaN,"doesn&rsquo;t have kids, but wants them"
38,books: reading is sexy. yes. many. everyday.<b...,NaN
40,"<p>books: almost anything fantasy: <a class=""i...",doesn&rsquo;t have kids
42,"books: world war z, cat's cradle/galapagos/oth...",NaN
44,"anything written by tom robbins, clive barker,...",doesn&rsquo;t have kids
46,NaN,NaN
48,"music: philip glass, sonic youth, rebecca blac...",doesn&rsquo;t have kids
50,"this is a funny section, because these things ...",NaN
52,books:<br />\n<br />\nmost david sedaris<br />...,doesn&rsquo;t have kids
54,NaN,NaN
56,"books: the wind up bird chronicle, guns germs ...",NaN
58,NaN,NaN
...,...,...
59886,i love pretty much everything about latin amer...,NaN
59888,"shows: dexter, californication, united states ...",NaN
59890,books: love them<br />\nmovies: anything reall...,NaN
59892,"music: bjork, autolux, portishead, nirvana, dj...",doesn&rsquo;t have kids
59894,NaN,NaN
59896,i love books! i just finished a sand county al...,doesn&rsquo;t have kids
59898,"books: twilight, john grisham, vc andrews.<br ...",has kids
59900,"major food enthusiast (if i say ""foodie"" does ...",doesn&rsquo;t have kids
59902,"books: on the road, mexico city blues, big sur...","doesn&rsquo;t have kids, but might want them"
59904,i love to read....although hard to pick a favo...,has kids
59906,"i like all tv, most movies, some music, and di...",NaN
59908,NaN,NaN
59910,give me a good murder mystery and i'm set.<br ...,NaN
59912,"books: fantasy, manga, romance, comic, or grap...","doesn&rsquo;t have kids, but might want them"
59914,"fried chicken, 30 rock, rihanna, hunger games,...",NaN
59916,"books: flowers for algernon, a wrinkle in time...","doesn&rsquo;t have kids, but might want them"
59918,these are a few of my favorite things....<br /...,NaN
59920,"books: east of eden, lolita, 100 years of soli...",doesn&rsquo;t have kids
59922,"books: extremely loud and incredibly close, ma...","doesn&rsquo;t have kids, and doesn&rsquo;t wan..."
59924,"books: finite and infinite games, choke, gonzo...",NaN
59926,shows: seinfeld is hysterical!<br />\nmusic: o...,NaN
59928,i don't really learn much from fiction and eve...,NaN
59930,NaN,NaN
59932,"stephen king books and horror books, anything ...",doesn&rsquo;t want kids
59934,i love reading but these days more of my time ...,has a kid
59936,NaN,doesn&rsquo;t have kids
59938,"books: lately - eckhart tolle's ""a new earth,""...",doesn&rsquo;t have kids
59940,"too many to name ...<br />\n-a new earth, kite...",NaN
59942,<strong>movies</strong>:<br />\nhook (the grea...,doesn&rsquo;t have kids
59944,where to begin musically: right now i listen t...,"doesn&rsquo;t have kids, but wants them"

## Question 22: How many people are aged 40 and above?

In [29]:
df.age[df.age > 40].count()

10329